body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.square {
    width: 100px;
    height: 100px;
    background-color: cornflowerblue;
    border: 1px solid black;
    display: inline-block;
}

.player1 {
    position: relative;
}

.player1:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "\274C";
    font-size: 50px;
    line-height: 100px;
}

.player2 {
    position: relative;
}

.player2:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "\2B55";
    font-size: 50px;
    line-height: 100px;
}

#restart {
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    width: 300px;
    height: 50px;
    background-color: cornflowerblue;
}

#labelRestart {
    font-size: 25px;
    font-weight: 600;
}
